-i https://download.pytorch.org/whl/cu113
actionlib==1.14.0
addict==2.4.0
albumentations==0.4.6
bondpy==1.8.6
catkin==0.8.10
certifi==2022.12.7
charset-normalizer==3.1.0
contourpy==1.0.7
cycler==0.11.0
dill==0.3.6
dynamic-reconfigure==1.7.3
filelock==3.10.0
fonttools==4.39.2
gencpp==0.7.0
geneus==3.0.0
genlisp==0.4.18
genmsg==0.6.0
gennodejs==2.0.2
genpy==0.6.15
huggingface-hub==0.13.2
idna==3.4
imageio==2.26.0
imgaug==0.4.0
importlib-resources==5.12.0
joblib==1.2.0
kiwisolver==1.4.4
lazy_loader==0.1
matplotlib==3.7.1
message-filters==1.16.0
mmcv==1.2.5
multiprocess==0.70.14
networkx==3.0
numpy==1.24.2
opencv-python==4.7.0.72
p-tqdm==1.4.0
packaging==23.0
pandas==1.5.3
pathos==0.3.0
pathspec==0.11.1
Pillow==9.4.0
pox==0.3.2
ppft==1.7.6.6
ptflops==0.6.9
pyparsing==3.0.9
python-dateutil==2.8.2
pytorch-warmup==0.1.1
pytz==2022.7.1
PyWavelets==1.4.1
PyYAML==6.0
requests==2.28.2
rosbag==1.16.0
rosboost-cfg==1.15.8
rosclean==1.15.8
roscreate==1.15.8
rosgraph==1.16.0
roslaunch==1.16.0
roslib==1.15.8
roslz4==1.16.0
rosmake==1.15.8
rosmaster==1.16.0
rosmsg==1.16.0
rosnode==1.16.0
rosparam==1.16.0
rospy==1.16.0
rosservice==1.16.0
rostest==1.16.0
rostopic==1.16.0
rosunit==1.15.8
roswtf==1.16.0
scikit-image==0.20.0
scikit-learn==1.2.2
scipy==1.9.1
sensor-msgs==1.13.1
Shapely==1.7.0
six==1.16.0
smclib==1.8.6
threadpoolctl==3.1.0
tifffile==2023.3.15
timm==0.6.12
topic-tools==1.16.0
torch==1.11.0+cu113
torchaudio==0.11.0+cu113
torchvision==0.12.0+cu113
tqdm==4.65.0
typing_extensions==4.5.0
ujson==1.35
urllib3==1.26.15
yapf==0.32.0
zipp==3.15.0
